/* GENERAL*/
body{
    font-family: 'Raleway', sans-serif;
    margin: auto;
}
.size{
    font-size: 14px;
    text-decoration: none;
    color: black;
}
.size1{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
.size2{
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.size3{
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
.size4{
    font-size: 12px;
    text-decoration: none;
}
.size5{
    font-size: 10px;
    text-decoration: none;
}
.shadow{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.164), -1px -1px 5px rgba(0, 0, 0, 0.164);
}
.grey{
    background-color: #f2f2f2;
}
.other{
    color: #A5A5A5;
}
.blue{
    color: #0065FC;
}
a{
    text-decoration: none;
    color: black;
}
#accommodation a:hover{
    box-shadow: 10px 10px 5px #deebff, -10px -10px 5px #deebff;
    transition: 0.3s;
}
#activities a:hover{
    box-shadow: 5px 5px 5px #deebff, -5px -5px 5px #deebff;
    transition: 0.3s;
}

/* HEADER */
#nav{
    display: flex;
    width: 93%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.direction{
    display: flex;
    justify-content: flex-end;
    height: 100px;
    width: 100%;
    align-items: center;
}
#btn-direction{
    border-top: #0065FC 3px;
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 41px;
    padding-bottom: 41px;
}
#btn-direction:hover{
    border-top: #0065FC 3px solid;
    color: #0065FC;
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 41px;
    padding-bottom: 41px;
}

/* SEARCH AND FILTERS */
#search{
    display: flex;
    width: 93%;
    margin: auto;
    flex-direction: column;
}
#titre{
    margin-top: 0;
}
.research{
    display: flex;
    align-items: center;
    padding-top: 12px;
}
#marker{
    background-color: #f2f2f2;
    font-size: 18px;
    padding: 16px 18px;
    border-radius: 15px 0px 0px 15px;
}
input{
    border: 0;
    padding: 0;
    height: 46px;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
}
.button1{
    border: 0;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: #0065FC;
    height: 50px;
    padding-left: 28px;
    padding-right: 28px;
    border-radius: 0px 15px 15px 0px;
}
.button1:hover{
    border: 0;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: #0065fcd0;
    height: 50px;
    padding-left: 28px;
    padding-right: 28px;
    border-radius: 0px 15px 15px 0px;
}
.icon1{
    display: none;
    border: 0;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: #0065FC;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px 15px 15px 15px;
}
.icon1:hover{
    border: 0;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: #0065fcd0;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px 15px 15px 15px;
}
.filters{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.button2, .button3, .button4, .button5{
    margin-left: 20px;
    padding: 0px 20px 0px 0px;
    border: 0;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    background-color: white;
    height: 50px;
    transition: 0.3s;
}
.button2:hover{
    margin-left: 20px;
    padding: 0px 20px 0px 0px;
    border: 0;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    background-color: #0065FC;
    height: 50px;
    color: white;
}
.button3:hover{
    margin-left: 20px;
    padding: 0px 20px 0px 0px;
    border: 0;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    background-color: #0065FC;
    height: 50px;
    color: white;
}
.button4:hover{
    margin-left: 20px;
    padding: 0px 20px 0px 0px;
    border: 0;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    background-color: #0065FC;
    height: 50px;
    color: white;
}
.button5:hover{
    margin-left: 20px;
    padding: 0px 20px 0px 0px;
    border: 0;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    background-color: #0065FC;
    height: 50px;
    color: white;
}
#b1, #b2, #b3, #b4{
    height: 15px;
    width: 15px;
    color: #0065FC;
    padding: 16px;
    background-color: #deebff;
    border-radius: 22px;
    margin-right: 15px;
}
.info{
    display: flex;
    height: 26px;
    align-items: center;
    margin: 34px 0px 34px 0px;
}
#bull{
    height: 12px;
    padding: 6px 9px 6px 9px;
    justify-items: center;
    border: #f2f2f2 2px solid;
    border-radius: 13px;
}
.info p{
    margin-left: 12px;
}

/* ACCOMMODATION */
#accommodation{
    display: flex;
    width: 93%;
    margin: auto;
    justify-content: space-between;
    height: 626px;
}
.acco{
    display: flex;
    flex-direction: column;
    width: 66%;
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 40px;
    margin-right: 15px;
}
.title1{
    margin-bottom: 30px;
}
.figure1{
    display: flex;
    justify-content: space-between;
    height: 220px;
    margin-bottom: 30px;
}
.figure1 a{
    width: 31%;
}
.link_acco{
    display: flex;
    justify-content: space-between;
}
.card_acco{
    background-color: white;
    border-radius: 15px;
    padding: 3px;
    width: 100%;
}
.card_acco img{
    height: 114px;
    border-radius: 13px 13px 0px 0px;
    width: 100%;
    object-fit: cover;
}
.description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
    height: 92px;
}
.description i{
    width: 18px;
    height: 11px;
}
.pop{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 40px;
    margin-left: 15px;
}
.title2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title2 h1{
    margin: 0px;
}
.card_pop{
    display: flex;
    background-color: white;
    border-radius: 15px;
    padding: 3px;
}
.card_pop img{
    height: 134px;
    width: 40%;
    border-radius: 13px 0px 0px 13px;
    object-fit: cover;
}
.figure2{
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-between;
}
.description1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 15px;
    margin-bottom: 10px;
}
.description1 i{
    width: 18px;
    height: 11px;
}

/* ACTIVITIES */
#activities{
    margin: auto;
    width: 93%;
    margin-top: 60px;
}
.cards_activities{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.cards_activities h3{
    margin-left: 15px;
    margin-top: 20px;
}
.card1, .card2, .card3, .card4, .card5, .card6{
    border-radius: 15px;
}
.card1, .card4{
    height: 445px;
}
.link1, .link4{
    margin-bottom: 60px;
}
.card2{
    height: 236px;
}
.card3{
    height: 163px;
    
}
.link3{
    margin-top: 46px; 
}
.card5{
    height: 194px;
}
.card6{
    height: 210px;
}
.link6{
    margin-top: 41px;
}
.card1 img{
    height: 387px;
    object-fit: cover;
}
.card2 img{
    height: 180px;
    width: 100%;
    object-fit: cover;
}
.card3 img{
    height: 110px;
    width: 100%;
    object-fit: cover;
}
.card4 img{
    height: 387px;
    object-fit: cover;
}
.card5 img{
    height: 140px;
    width: 100%;
    object-fit: cover;
}
.card6 img{
    height: 150px;
    width: 100%;
    object-fit: cover;
}
.column{
    display: flex;
    width: 25%;
    flex-direction: column;
}
.column a{
    width: auto;
}
.over{
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 15px 15px 0px 0px;
}
.link1, .link2, .link3, .link4, .link5, .link6{
    text-decoration: none;
    width: 21%;
}

/* FOOTER */
#plan{
    display: flex;
    background-color: #f2f2f2;
}
.large{
    display: flex;
    width: 93%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.about, .our_acco, .assistance{
    display: flex;
    flex-direction: column;
    width: 33.33%;
}
.about a{
    padding-bottom: 10px;
    width: 100%;
}
.our_acco a{
    padding-bottom: 10px;
    width: 100%;
}
.assistance a{
    padding-bottom: 10px;
    width: 100%;
}

/* MEDIUM SCREEN */
@media screen and (max-width: 991px){
    .filters{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 30px;
    }
    .button5{
        margin-top: 20px;
        margin-left: 60px;
    }
    .button5:hover{
        margin-left: 65px;
        padding: 0px 20px 0px 0px;
        border: 0;
        border: 2px solid #f2f2f2;
        border-radius: 25px;
        background-color: #0065FC;
        height: 50px;
        color: white;
    }
    #accommodation{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 93%;
        margin: auto;
        height: 1300px;
    }
    .acco{
        display: flex;
        flex-direction: column;
        width: 88%;
        background-color: #f2f2f2;
        border-radius: 15px;
        padding: 40px;
        margin: 0
        ;
    }
    .pop{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 88%;
        background-color: #f2f2f2;
        border-radius: 15px;
        padding: 40px;
        margin: 0;
    }
    .pop .title2{
        margin-bottom: 30px;
    }
}

/* SMALL SCREEN */
@media screen and (max-width: 767px){
    #nav{
        width: 100%;
        flex-wrap: wrap;
    }
    .logo{
        padding: 30px 0px 0px 30px;
    }
    .registration{
        padding-top: 30px;
    }
    .button_reg #btn-direction:hover{
        border: none;
    }
    .direction{
        order: 1;
        height: auto;
        margin-top: 10px;
    }
    .nav_bar{
        display: flex;
        width: 107%;
        justify-content: space-between;
    }
    .nav_bar a{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .nav_bar #btn-direction{
        border-bottom: #f2f2f2 solid 3px;
        border-top: none;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .nav_bar #btn-direction:hover{
        border-bottom: #0065FC 3px solid;
        color: #0065FC;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #search{
        margin-top: 35px;
    }
    .research{
        justify-content: center;
    }
    .button1{
        display: none;
        border: 0;
        color: white;
        font-size: 14px;
        font-weight: bold;
        background-color: #0065FC;
        height: 50px;
        padding-left: 28px;
        padding-right: 28px;
        border-radius: 0px 15px 15px 0px;
    }
    .icon1{
        display: block;
        border: 0;
        color: white;
        font-size: 14px;
        font-weight: bold;
        background-color: #0065FC;
        height: 50px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 15px 15px 15px 15px;
        margin-left: -15px;
    }
    .icon1:hover{
        border: 0;
        color: white;
        font-size: 14px;
        font-weight: bold;
        background-color: #0065fcd0;
        height: 50px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 15px 15px 15px 15px;
    }
    .filters{
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;
    }
    .filters p{
        margin-bottom: 0px;
    }
    .button2, .button3, .button4, .button5{
        margin-left: 0px;
    }
    .button2{
        margin-top: 20px;
        margin-right: 15px;
    }
    .button3{
        margin-top: 20px;
    }
    .button4{
        margin-top: 20px;
    }
    .button2:hover{
        margin-left: 0px;
        padding: 0px 20px 0px 0px;
        border: 0;
        border: 2px solid #f2f2f2;
        border-radius: 25px;
        background-color: #0065FC;
        height: 50px;
        color: white;
    }
    .button3:hover{
        margin-left: 0px;
        padding: 0px 20px 0px 0px;
        border: 0;
        border: 2px solid #f2f2f2;
        border-radius: 25px;
        background-color: #0065FC;
        height: 50px;
        color: white;
    }
    .button4:hover{
        margin-left: 0px;
        padding: 0px 20px 0px 0px;
        border: 0;
        border: 2px solid #f2f2f2;
        border-radius: 25px;
        background-color: #0065FC;
        height: 50px;
        color: white;
    }
    .button5:hover{
        margin-left: 0px;
        padding: 0px 20px 0px 0px;
        border: 0;
        border: 2px solid #f2f2f2;
        border-radius: 25px;
        background-color: #0065FC;
        height: 50px;
        color: white;
    }
    #accommodation{
        width: auto;
        height: auto;
    }
    .acco{
        order: 1;
        width: 100%;
        padding: 30px 0px 0px 0px;
        background-color: white;
    }
    .pop{
        border-radius: 0px;
        width: 100%;
        padding: 30px 0px 30px 0px;
    }
    .title1{
        width: 93%;
        margin: auto;
        padding-bottom: 30px;
    }
    .title2{
        width: 93%;
        margin: auto;
    }
    .link_acco{
        margin-bottom: 20px;
    }
    .link_pop{
        margin-bottom: 20px;
    }
    .figure2{
        width: 93%;
        margin: auto;
        height: auto;
    }
    .plus{
        width: 93%;
        margin: auto;
        padding-top: 20px;
    }
    .figure1{
        flex-direction: column;
        width: 93%;
        margin: auto;
        height: auto;
    }
    .figure1 a{
        width: 100%;
    }
    .description i{
        padding-bottom: 15px;
    }
    .large{
        flex-direction: column;
    }
    .about, .our_acco, .assistance{
        width: 100%;
    }
    .cards_activities{
        flex-direction: column;
    }
    .cards_activities a{
        width: 100%;
    }
    .column{
        width: 100%;
    }
    .card1 img{
        height: 134px;
        width: 100%;
        object-fit: cover;
    }
    .card2 img{
        height: 134px;
        width: 100%;
        object-fit: cover;
    }
    .card3 img{
        height: 134px;
        width: 100%;
        object-fit: cover;
    }
    .card4 img{
        height: 134px;
        width: 100%;
        object-fit: cover;
    }
    .card5 img{
        height: 134px;
        width: 100%;
        object-fit: cover;
    }
    .card6 img{
        height: 134px;
        width: 100%;
        object-fit: cover;
    }
    .card1, .card2, .card3, .card4, .card5, .card6{
        height: 190px;
    }
    .link1{
        margin-bottom: 25px;
    }
    .link3{
        margin-top: 25px;
    }
    .link4{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .link6{
        margin-top: 25px;
        margin-bottom: 50px;
    }
}