/* GENERAL*/
body{
    font-family: 'Raleway', sans-serif;
    margin: auto;
}
.size{
    font-size: 14px;
    text-decoration: none;
    color: black;
}
.size1{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}
.size2{
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.size3{
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
.size4{
    font-size: 12px;
    text-decoration: none;
}
.size5{
    font-size: 10px;
    text-decoration: none;
}
.shadow{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.164), -1px -1px 5px rgba(0, 0, 0, 0.164);
}
.grey{
    background-color: #f2f2f2;
}
.other{
    color: #f2f2f2;
}
.blue{
    color: #0065FC;
}

/* HEADER */
#nav{
    display: flex;
    width: 93%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.direction{
    display: flex;
    height: 100px;
    align-items: center;
}
#btn-direction{
    border-top: #0065FC 2px;
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 41px;
    padding-bottom: 41px;
}
#btn-direction:hover{
    border-top: #0065FC 2px solid;
    color: #0065FC;
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 41px;
    padding-bottom: 41px;
}

/* SEARCH AND FILTERS */
#search{
    display: flex;
    width: 93%;
    margin: auto;
    flex-direction: column;
}
#titre{
    margin-top: 0;
}
.research{
    display: flex;
    align-items: center;
    padding-top: 12px;
}
#marker{
    background-color: #f2f2f2;
    font-size: 18px;
    padding: 16px 18px;
    border-radius: 15px 0px 0px 15px;
}
input{
    border: 0;
    padding: 0;
    height: 46px;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
}
.button1{
    border: 0;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: #0065FC;
    height: 50px;
    padding-left: 28px;
    padding-right: 28px;
    border-radius: 0px 15px 15px 0px;
}
.button1:hover{
    border: 0;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: #0065fcd0;
    height: 50px;
    padding-left: 28px;
    padding-right: 28px;
    border-radius: 0px 15px 15px 0px;
}
.filters{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.button2{
    margin-left: 25px;
    padding: 0px 24px 0px 0px;
    border: 0;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    background-color: white;
    height: 50px;
    transition: 0.3s;
}
.button2:hover{
    margin-left: 25px;
    padding: 0px 24px 0px 0px;
    border: 0;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    background-color: #0065FC;
    height: 50px;
    color: white;
}
#b1, #b2, #b3, #b4{
    height: 15px;
    width: 15px;
    color: #0065FC;
    padding: 16px;
    background-color: #deebff;
    border-radius: 22px;
    margin-right: 15px;
}
.info{
    display: flex;
    height: 26px;
    align-items: center;
    margin: 34px 0px 34px 0px;
}
#bull{
    height: 12px;
    padding: 6px 9px 6px 9px;
    justify-items: center;
    border: #f2f2f2 2px solid;
    border-radius: 13px;
}
.info p{
    margin-left: 12px;
}